/* Common */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --tb-shadow: #9d9d9d;
    --tb-light: #f7f8f8;
    --tb-ligher: #ffffff;
    --tb-dark: #051930;
    --tb-primary: #46adf0;
    --tb-goals: #9d72e5;
    --tb-recruiting: #64c1a8;
    --tb-mobile: #f29e33;
    --tb-website: #d962a1;
    --tb-sales: #b1c927;
    --tb-danger: red;
}

html {
    font-size: 16;
}

body {
    background-color: #F6F8F9;
}

button {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-left: 0.2rem;
    border: none;
}

/* Header */
#app-header {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

#scritta-logo {
    vertical-align: top;
    font-size: 5rem;
    display: inline-block
}

/* Nav */
#nav {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom: 4px solid #F6F8F9;
}

button#add-task {
    background-color: none;
    color: #CED3D7;
    border: 1px solid #CED3D7;
}

button#add-section {
    background-color: #47ADF1;
    color: #E5F4FD;
}

/* Main */
#app-main {
    width: 75%;
    margin: auto;
    background-color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* tasks */
#tasks {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}


.Tsection {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.task {
    font-size: 2rem;
    line-height: 5rem;
}

/* SISTEMARE LE ETIQUETTE TOGLIENDO CONTENT*/
.etiquette::before {
    border-radius: 1.5rem;
    padding: 1rem;
    color: white;
}

.editorial::before {
    content: "Editorial";
    background-color: #47ADF1;
}

.q1goals::before {
    content: "Q1 Goals";
    background-color: #9C72E4;
}

.recruiting::before {
    content: "Recruiting";
    background-color: #64C0A9;
}

.mobile::before {
    content: "Mobile";
    background-color: #F29E33;
}

.website::before {
    content: "Website";
    background-color: #D863A1;
}

.sales::before {
    content: "Sales";
    background-color: #B0C926;
}