/* Common */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serifZ;
}

html {
    font-size: 16;
}

body {
    background-color: #ffffff;
}

/* Utilities */
.di-ib {
    display: inline-block;
}

.fs-5rm {
    font-size: 5rem;
}


/* Header */
#app-header {
    background-color: #F6F8F9;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

#app-header > h1 {
    vertical-align: top;
}

/* Nav */

/* Main */