/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* #endregion Common */

/* #region Utility Classes */
.container {
    width: 1170px;
    margin: auto;
}

/* #endregion Utility Classes */

/* #region Header */
/* #endregion Header */

/* #region main */
/* #endregion main */

/* #region footer */
/* #endregion footer */