* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}

.background {
    height: 33vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 2px solid black;
}

#bg1 {
    background-image: url(img/roma.jpg);
}

#bg2 {
    background-image: url(img/firenze.jpg);
}

#bg3 {
    background-image: url(img/venezia.jpg);
}

.container {
    position: absolute;
    top: 16.6vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3px;
    font-size: larger;

}