* {
    box-sizing: border-box;
    font-size: 14px;
}

.container {
    width: 60%;
    margin: auto;
}

.riga {
    /* Serve per centrare le immagini a causa del bordo in eccedenza dovuto dal inline-block */
    /* posso usarlo perchè gli elementi al suo interno sono online block */
    text-align: center;
}

.prodotto {
    /* Non posso usare width: 33%; perchè inline block mi ruba dei pixel */
    width: 32%;
    display: inline-block;
    position: relative;
}

.prodotto > img {
    width: 100%;
}

.prodotto > .sconto {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    /* line-height: 20px; serve per fare la centratura verticale. */
    line-height: 20px;
    text-align: center;
}

.sconto.alto {
    background-color: green;
}

.sconto.basso {
    background-color: red;
}

.heart {
    font-size: 2em;
    position: absolute;
    bottom: 3px;
    left: 50%;
    visibility: hidden;
    color: red;
}

.prodotto:hover > .heart {
    visibility: visible;
}