* {
    box-sizing: border-box;
    font-size: 14px;
}

.container {
    width: 60%;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.prodotto {
    /* Non posso usare width: 33%; perchè inline block mi ruba dei pixel */
    width: 32%;
    display: inline-block;
    position: relative;
}

.sconto {
    position: absolute;
    top: 0;
    right: 0;
}

.sconto.alto {
    background-color: green;
}

.sconto.basso {
    background-color: red;
}

.heart {
    font-size: 2em;
    position: absolute;
    bottom: 3px;
    left: 50%;
    visibility: hidden;
    color: red;
}

.prodotto:hover > .heart {
    visibility: visible;
}