body {
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
}

.container {
  color: #fff;
  height: auto;
  width: 50%;
  margin: auto;
  margin-top: 1%;
}

.gmail-logo {
  width: 50px;
  height: auto;
}

.gmail-logo-txt {
  display: inline-block;
  line-height: 0%;
}

.unread-circle {
  line-height: 0%;
}

header {
  color: #fff;
}

.circle {
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: orange;
  padding: 2px;
}

.row {
  line-height: 140%;
  border: 1px solid black;
}

.read {
  background-color: white;
}

.unread {
  background-color: lightgray;
}

.object {
  color: black;
}

.body {
  color: gray;
}

.star {
  color: orange;
}

.row-left {
  width: 34%;
  display: inline-block;
}

.row-right {
  width: 65%;
  display: inline-block;
}

footer {
  text-align: center;
}

.powered-1 {
  font-size: large;
}

.powered-2 {
  font-style: italic;
}